body {
    background-color: cadetblue;
    text-align: center;
}

.grid {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: solid 1px  #2E4053;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.invader {
    background-color: #031830;
    border-radius: 10px;
}

.shooter {
    background-color: #0e1e7a;
}

.laser {
    background-color: #9ff15b;
}

.boom {
    background-color: burlywood;
}

